.product-weight {
  position: absolute;
  right: 16px;
  bottom: 16px;

  width: 80px;
  height: 80px;

  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  font-weight: 400;
  color: var(--color-white);
  background-color: var(--color-blue);
}

.product-weight p {
  font-size: 42px;
  line-height: 40px;
}
.product-weight span {
  font-size: 21px;
  line-height: 15px;
}